.navbar 
{
    z-index: 999999;
}
#app-main{
    height:100vh;
    width: 100%;
}

#main-container
{
    background-color: #9de1ed;
    height: 100%;
    width: 100%;
}

#login-container
{
    padding: 5%;
}

#root
{
    height:100vh;
    width: 100%;
    background-color: #9de1ed;
}

.appPageRoot
{
    height:100vh;
    width: 100%;
}

.mainContentsContainer
{
    position: fixed;
    top: 56px;
    height: calc(100% - 56px);
    width: 100vw;
    float: left;
}
.full-container
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .tall-column
  {
      height: 100%;
  }
  .tall-row
  {
      height: 100%;
  }
.col-dark
{
    background-color: #80d0f0;
}

/*******************************************************************************
    HOME PAGE
*******************************************************************************/
#profile-page
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
}
#profile-image
{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
#homePageUserSideBar
{
    float: left;
    max-width: 200px;
    background-color: #80d0f0;
    height: 100%;
}
#homePageActionsContainer
{
    width: calc(100% - 290px);
    height: 100%;
    overflow: auto;
    margin: 0px;
    margin-right: 30;
}
.homePageActionCard
{
    margin: 12px;
}

/*******************************************************************************
    ADD DATA PAGE
*******************************************************************************/
.dataEntryFormContent{
margin: 0;
position: absolute;
top: 50%;

}

/*******************************************************************************
    STATS VIS PAGE
*******************************************************************************/

#plots-stats-viewer-pane-cont
{
    margin: 1em;
    background-color: #3498db;
    border-radius: 3px;
    padding-bottom: 30px;
}

#statsVisCont
{
    margin: .75em;
}

.plot-view-type-tab
{
    color: white;
}
.selected-plot-type
{
    background-color: #1d65a1;
}

/*******************************************************************************
    GOALS PAGE
*******************************************************************************/
#goal-manage-pane-cont
{
    background-color: #3498db;
    margin-left: 10%;
    margin-right: 10%;
    padding: .5em;
}

#feed-posts-cont
{
    background-color: #3498db;
    margin-left: 10%;
    margin-right: 10%;
    padding: .5em;
    height: 100%;
}

#posts-feed
{
    height: 80%;
    overflow: scroll;
}
#post-something-cont
{
    height: 20%;
}