
<div id="rootHome" class="appPageRoot">
    <!-- navigation based on github repo mentioned here https://medium.com/altcampus/implementing-simple-spa-routing-using-vanilla-javascript-53abe399bf3c -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" onclick="onNavigate('/'); return false;">Decentralized Fitness</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" onclick="onNavigate('/'); return false;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Devices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Reminders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Reminders</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li> -->
            </ul>
        </div>
    </nav>

    <div id="statVisPageContainer" class="mainContentsContainer">
        <div class="container full-container">
            <div class="row tall-row">
                <div class="col tall-column">
                        <div class="backToHomeActionContainer">
                            <div id="addDataBackToHomeButtonCont" onclick="onNavigate('/'); return false; ">
                                <i class="fas fa-arrow-alt-circle-left"></i>
                                BACK
                            </div>
                        </div>
                              
                        <div id="plots-stats-viewer-pane-cont">
                            <ul class="nav">
                                <li class="nav-item plot-view-type-tab selected-plot-type" id="tabBtnPersonalStats">
                                    <p class="nav-link active">Distance</p>
                                </li>
                                <li class="nav-item plot-view-type-tab" id="tabBtnCommunityStats">
                                    <p class="nav-link">Food</p>
                                </li>
                                <li class="nav-item plot-view-type-tab" id="tabBtnCommunityStats">
                                    <p class="nav-link">Heart Rate</p>
                                </li>
                            </ul>

                            <div id="statsVisCont">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <input type="radio" name="statType" value="personal" checked="checked" >Personal Stats<br>
                                    </li>
                                    <li class="list-inline-item">
                                        <input type="radio" name="statType" value="community">Relative Community Stats<br>
                                    </li>

                                    Units: <select id="plot-units-select">

                                    </select>

                                    <div id="health-plot-cont" style="width:600px;height:340px;">
                                        <p id="plot-loading-text" style="margin:1em">Loading...</p>
                                    </div>
                                </ul>
                                    
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
